{% extends "padre.html" %}
    {% block titulo %}
    {{ usuario['nombre'] }}
    {% endblock %}

    {% block carga %}
        {% if variablesParaTwig.error %}
            onload="errores()"
        {% endif %}
    {% endblock %}

    {% block central %}
    
    {% if variablesParaTwig.error %}
        <a href="#" id="error" onclick="errores()">{{ variablesParaTwig['error'] }}</a>
    {% endif %}

    <section id="cuerpo">
        <section id="buscar">
            <form id='formulariobuscar' method='post' enctype='multipart/form-data' action='buscarProducto.php' autocomplete="off">
                <input type='text' id='busqueda' name="busqueda" class="swal2-input" size="120" placeholder='Buscar' autofocus>

                <input type="submit" value="Buscar" class="botonReg">
                <br>
            </form>

            <br><br>

            {% if productos %}
                <section class="productos">
                    <!--Bucle para colocar los productos en el grid central-->
                    {% for i in 0..numProductos-1 %}
                    <section id="caja">
                        <a href="producto.php?ev={{ productos[i]['id'] }}" class="div1">
                            <article class="caja-principal">
                                <div class="imagen">
                                    <img src="imagenes/{{ productos[i]['foto']  }}" alt="">
                                </div>
                                <div class="texto">
                                    <h2>{{ productos[i]['nombre'] }}</h2>
                                    <br>
                                    <p>{{ productos[i]['info'] }}</p>
                                </div>
                            </article>
                        </a>
                    </section>
                    {% endfor %}
                </section>
            {% endif %}

        </section>
    {% endblock %}