{% extends "padre.html" %}
    {% block titulo %}
    {{ usuario['nombre'] }}
    {% endblock %}

    {% block carga %}
        onload="errorLogin()"
    {% endblock %}

    {% block sesion %}
        {% if not usuario %}
            <a href="#" onclick="iniciarSesion()">Iniciar sesión</a>
        {% else %}
            <a href="#">{{ usuario['nombre'] }}</a>
            <a href="#" onclick="cerrarSesion()">Cerrar sesión</a>
        {% endif %}
    {% endblock %}

    {% block central %}
    
    {% if variablesParaTwig.error %}
        <a href="#" id="error">{{ variablesParaTwig['error'] }}</a>
    {% endif %}

    <section id="cuerpo">
        <section id="datosUsuario">
            <h1 id="titdatosusuario">Información del usuario</h1>
            <br>

            <section id="secusuario">
                <form id='formularioUsuario' method='post' enctype='multipart/form-data' action='editarUsuario.php' autocomplete="off">
                    <label for='nombre' class='textformulario'>Nombre:</label>
                    <input type='text' id='nombre' name="nombre" class="inputleer" placeholder='Nombre' value="{{ usuario['nombre'] }}" readonly>

                    <input type='text' id='nombreAntiguo' name="nombreAntiguo" value="{{ usuario['nombre'] }}" readonly>
        
                    <br><br>
                    <label for='email' class='textformulario'>E-mail:</label>
                    <input type='email' id='email' name="email" class="inputleer" placeholder='ejemplo@correo.com' value="{{ usuario['email'] }}" readonly>

                    <br><br>
                    <input type="submit" value="Terminar" id="terminar" class="botonReg">
                    <br>
                </form>

                <button id="editar" onclick="editar()" class="botonReg">Editar</button>

                {% if usuario['super'] == 1 %}
                    <button id="editarUsu" onclick="editar()" class="botonReg">Editar usuarios</button>
                {% endif %}
            </section>
        </section>
    {% endblock %}